
.slider .indicators .indicator-item{
    display: none;
}

header, main, footer{
      padding-left: 300px;
}

@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    
    }

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    max-height: 590;
    
 
     
  }
.slider .slides{
    height: 100% !important;
    }

.slider li {
    height: 100% !important;
     
}

 .texto1{
  font-family: 'BioRhyme', serif;
     font-size: 30pt;
 }
  .texto2{
  font-family: 'BioRhyme', serif;
     font-size: 10pt;
 }
 .texto3{
  font-family: 'BioRhyme', serif;
  text-align: center;
 }
.texto4{
    font-family: 'BioRhyme', serif;
     font-size: 10pt;
  
}


.container #redes, #redes{
    text-align: center;
    letter-spacing: 4px;
}
.container #redes li {
    display: inline-block;
    text-decoration: none;
    margin: 5px;
}
.container #redes li a{
    color:rgba(255,255,255,1);     
}

.slider .slides li .caption{
    top:25%;
    
}
.ajuste{
    padding-left: 15% ;
    padding-right: 15%;
}

.vertical{
    vertical-align:middle;    
}
iframe {
    display:block; 
    width:100%; 
    border:none;
}

.email{
    color: white;
    
}